<% title_actions link_to(_("New product"), new_repositories_product_path) %>
<% title _("Product configuration") %>
<div id="welcome">
  <p>
  <%= _("Here come some fancy explanation about products and repositories in general, bla bla.") %>
  </p>

</div>
