<% title_actions link_to(_("New provider"), new_provider_path) %>
<% title _("Provider configuration") %>
<div id="welcome">
  <p>
  <%= _("Here come some fancy explanation about providers and content in general, bla bla.") %>
  </p>

</div>
