<td><%= link_to_if_authorized(h(repository.name), hash_for_repository_path(repository)) %></td>
<td><%= repository.try(:state) %></td>
<td><%= last_time(repository.kind_of?(Content::Repository) ? repository.last_sync : repository.last_published) %></td>
<td><%= repository.content_type %></td>