<% title_actions link_to(_("New repository"), new_repository_path) %>
<% title _("Repository configuration") %>
<div id="welcome">
  <p>
  <%= _("Here come some fancy explanation about content and content in general, bla bla.") %>
  </p>

</div>
